{
        "operator": "$operator",
        "filters": [
        #set( $count = 1 )
        #foreach( $filter in $filters )
			$filter
			#if( $count < $filters.size())
				,
			#end
			#set( $count = $count + 1 )
		#end  
        ]
}